*{
	margin:0;
	padding:0;
}

#header{
	font-size: 30px;
	margin-bottom: 20px;
}
h1{
	text-align:center;
}
#navi{
	height: 40px;
	
}
#navi ul li{
	display:inline;
	
}
#navi ul li a{
	padding: 5px 30px;
	margin: 0 20px;
	text-decoration: none;
	color: black;
	background: white;
	box-shadow: 0 0 15px 20px transparent;
	transition: 0.2s;
}
#navi ul li a:hover{
	box-shadow: 0 0 0 0 gray;
	background: gray;
	color:white;
}


#content{
	min-height: 600px;
}

.typesblock{
	margin-top:20px;
	background: #d3d7cf;
	padding: 5px 0;	
}
.typesblock ul{
	margin-left: 150px;
}
.typesblock ul li{
	display: inline;
}
.typesblock ul li a{
	padding: 5px;
	text-decoration: none;
	color: black;
	transition: 0.2s;
}
.typesblock ul li a:hover{
	color: gray;
}

.markenblock{
	width: 150px;
	min-height: inherit;
	background: #d3d7cf;
	float:left;
}
.markenblock ul{
	margin-left: 30px;
}
.markenblock ul li{
	list-style-type: none;
	margin-bottom: 10px;
}
.markenblock ul li a{
	padding: 5px;
	text-decoration: none;
	color: black;
	transition: 0.2s;
}
.markenblock ul li a:hover{
	color: gray;
}

.catalogblock{
	margin-left: 150px;
	padding: 5px 10px;
}
.motorradpanel{
	margin-top: 20px;
	
}
.motorradpanel a{
	color: black;
}

.motorradblock{
	float:left;
	background: #d3d7cf;
	padding: 10px;
	transition: 0.2s;
}
.motorradblock:hover{
	background: gray;
}
.motorradprice{
	text-align: right;
}

#footer{
	background: #8f5902;
	clear: both;
}